<h1>Login</h1><h3><%= link_to t('signup'), signup_path %></h3>
<%= form_tag login_path, method: :post do %>
<div>
  <%= label_tag :email, t("email") %>
  <%= text_field_tag :email %>
</div>
<div>
  <%= label_tag :password, t("password") %>
  <%= password_field_tag :password %>
</div>
  <%= submit_tag t('submit') %>
<%end%>
