<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :content, t("content") %>
  <%= form.text_field :content, autofocus: true %>
  <%= form.label :end_time, t("end_time") %>
  <%= form.datetime_field :end_time %>
  <%= form.label :state, t("state") %>
  <%= form.select :state, ['todo','doing','done'] %>
  <%= form.label :priority, t("priority") %>
  <%= form.select :priority, [1,2,3] %>
  <%= form.label :all_tags, t("all_tags") %>
  <%= form.text_field :all_tags, placeholder: "Tags separated with comma" %>  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>