<p id="notice"><%= notice %></p>

<h1><%= link_to t('Tasks'), tasks_path %></h1>
<%= render 'search' %>

<table>
  <thead>
    <tr>
      <%# content_tag :th, sort_link(@q, :content) %>
      <%# content_tag :th, sort_link(@q, :end_time) %> 
      <%# content_tag :th, sort_link(@q, :state) %> 
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= t(task.content) %></td>
        <td><%= t(task.end_time) %></td>
        <td><%= t(task.state) %></td>
        <td><%= link_to t('Edit'), edit_task_path(task) %></td>
        <td><%= link_to t('Destroy'), task, method: :delete, data: { confirm: t('Are you sure') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('New'), new_task_path %>
