<%= button_to t('new'), new_admin_user_path, method: :get %>
<hr>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th><%= t('name') %></th>
      <th><%= t('email') %></th>
      <th><%= t('role') %></th>
      <th><%= t('task_counts') %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td><%= user.tasks.count %></td>
        <td><%= link_to t('edit'), edit_admin_user_path(user) %></td>
        <td><%= (link_to t('destroy'), admin_user_path(user), method: :delete, data: { confirm: t('Are you sure') }) unless current_user.id == user.id %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @users %>